In [1]:
from scipy import stats
import numpy as np

In [4]:
rng = np.random.default_rng()
sample1 = stats.uniform.rvs(size=100, random_state=rng)
sample2 = stats.norm.rvs(size=110, random_state=rng)
response=stats.ks_2samp(sample1, sample2)
response

KstestResult(statistic=0.5272727272727272, pvalue=7.26220122467953e-14)

In [7]:
round(response.pvalue,16)

7.26e-14

#### When pvalue is greater than 0.05, that belong to the same distribution. At that point, we can accept the null hypothesis.

#### Anomly in ny dataset

1. High null Value
2. Outlier
3. Categorial:
Gender --> MALE, FEMALE, OTHER

In [4]:
import pandas as pd
df = pd.read_csv("../artifact/12052022__103200/data_ingestion/dataset/train.csv")

In [5]:
df.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,586,0.0,2.130706e+09,24.0,0.0,0.0,0.0,0.0,0.0,...,2746.0,1212.0,2402.0,3140.0,2556.0,12024.0,10.0,0.0,0.0,0.0
1,neg,212,8.0,3.200000e+01,0.0,0.0,0.0,0.0,0.0,0.0,...,2758.0,518.0,1656.0,768.0,3166.0,106.0,0.0,0.0,0.0,0.0
2,neg,1950,NaN,2.130706e+09,32.0,0.0,0.0,0.0,0.0,0.0,...,5792.0,2526.0,8860.0,70478.0,288.0,4.0,0.0,0.0,0.0,0.0
3,neg,50916,NaN,2.130706e+09,246.0,0.0,0.0,0.0,0.0,0.0,...,461914.0,293648.0,558750.0,477034.0,270656.0,144116.0,136306.0,1482.0,0.0,0.0
4,neg,332,2.0,2.800000e+01,22.0,0.0,0.0,0.0,0.0,0.0,...,2474.0,650.0,1174.0,3560.0,3680.0,2294.0,0.0,0.0,0.0,0.0

In [8]:
mapData = df.isnull().sum()/df.shape[0]

In [9]:
mapData

class     0.000000
aa_000    0.000000
ab_000    0.769845
ac_000    0.059620
ad_000    0.255613
            ...
ee_007    0.010950
ee_008    0.010950
ee_009    0.010950
ef_000    0.047737
eg_000    0.047703
Length: 171, dtype: float64

In [11]:
mapData.index # Getting columns

Index(['class', 'aa_000', 'ab_000', 'ac_000', 'ad_000', 'ae_000', 'af_000',
       'ag_000', 'ag_001', 'ag_002',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=171)

In [13]:
mapData.values*100

array([ 0.        ,  0.        , 76.98445596,  5.96200345, 25.56131261,
        4.38687392,  4.38687392,  1.09499136,  1.09499136,  1.09499136,
        1.09499136,  1.09499136,  1.09499136,  1.09499136,  1.09499136,
        1.09499136,  1.09499136,  1.05354059,  1.02590674,  1.02590674,
        7.71675302,  1.06044905,  1.02590674,  1.06044905,  0.9671848 ,
        1.06044905,  0.9671848 ,  4.77029361,  1.02590674,  1.02590674,
        1.02590674,  4.39032815,  4.39378238,  1.09499136,  1.09499136,
        1.09499136,  1.09499136,  1.09499136,  1.09499136,  1.09499136,
        1.09499136,  1.09499136,  1.09499136,  1.09499136,  1.09499136,
        1.09499136,  1.09499136,  1.09499136,  1.09499136,  1.09499136,
        1.09499136,  1.09499136,  1.09499136,  1.11571675,  1.11571675,
        1.11571675,  1.11571675,  1.11571675,  1.11571675,  1.11571675,
        1.11571675,  1.11571675,  1.11571675,  1.05354059,  4.77374784,
        4.77720207,  4.39378238,  4.38687392,  1.06044905,  1.06044905,
        0.9671848 ,  0.9671848 , 38.34196891, 45.25043178, 65.52331606,
       72.74265976, 76.49395509, 78.68393782, 80.43523316, 81.31951641,
        1.17098446,  0.22107081,  1.11917098,  1.11917098,  5.28151986,
        0.75647668,  4.77029361,  7.62694301,  1.17098446,  5.27806563,
        1.12607945,  4.39378238, 25.56131261, 25.56131261, 25.56131261,
        0.57685665,  0.57685665,  0.57685665, 16.02072539, 16.63557858,
        1.11226252,  1.11226252,  1.11226252,  1.11226252,  1.11226252,
        1.11226252,  1.11226252,  1.11226252,  1.11226252,  1.11226252,
       25.56131261,  4.77374784,  1.11917098, 76.98445596,  1.09153713,
        1.09153713,  1.09153713,  1.09153713,  1.09153713,  1.09153713,
        1.09153713,  1.09153713,  1.09153713,  1.09153713, 23.66493955,
       23.66493955, 23.66493955, 23.66493955, 23.66493955, 23.66493955,
       23.66493955, 23.66493955, 23.66493955,  4.39723661,  4.77374784,
        7.08117444,  7.08117444,  7.08117444,  7.07426598,  7.07772021,
        7.07772021,  7.08117444,  7.08462867,  1.11917098,  4.77374784,
        4.7806563 ,  4.7806563 ,  4.77720207,  4.7806563 ,  4.7806563 ,
        4.77720207,  4.77720207,  4.77029361,  4.77374784,  4.77029361,
        4.77029361,  7.07772021, 17.24352332, 16.02072539,  1.09499136,
        1.09499136,  1.09499136,  1.09499136,  1.09499136,  1.09499136,
        1.09499136,  1.09499136,  1.09499136,  1.09499136,  4.77374784,
        4.77029361])

In [15]:
drop_column_names = []
for column_name, missing_perc in zip((mapData.index), (mapData.values)):
    if missing_perc > 0.3:
        drop_column_names.append(column_name)

In [16]:
drop_column_names

['ab_000',
 'bk_000',
 'bl_000',
 'bm_000',
 'bn_000',
 'bo_000',
 'bp_000',
 'bq_000',
 'br_000',
 'cr_000']

In [17]:
null_report = df.isna().sum()/df.shape[0]
null_report.index

Index(['class', 'aa_000', 'ab_000', 'ac_000', 'ad_000', 'ae_000', 'af_000',
       'ag_000', 'ag_001', 'ag_002',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=171)

In [18]:
null_report = df.isna().sum()/df.shape[0]
drop_column_names = null_report[null_report.values > 0.3].index
df.drop(list(drop_column_names), axis=1, inplace=True)

In [19]:
null_report.index

Index(['class', 'aa_000', 'ab_000', 'ac_000', 'ad_000', 'ae_000', 'af_000',
       'ag_000', 'ag_001', 'ag_002',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=171)

In [21]:
df.columns

Index(['class', 'aa_000', 'ac_000', 'ad_000', 'ae_000', 'af_000', 'ag_000',
       'ag_001', 'ag_002', 'ag_003',
       ...
       'ee_002', 'ee_003', 'ee_004', 'ee_005', 'ee_006', 'ee_007', 'ee_008',
       'ee_009', 'ef_000', 'eg_000'],
      dtype='object', length=161)